h1 {
  color: blue;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#funcionamento {
  color: midnightblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  font-style: italic;
}

#texto-tarefa {
  width: 25%;  
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#lista-tarefas {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 12px 8px 12px 40px;
  position: relative;
}

.selected {
  background-color: rgb(128,128,128);
}

.completed {
  background-color: rgb(128,128,128);
  text-decoration: line-through solid rgb(0,0,0);
}

.tarefa-checked {
  text-decoration: line-through;
}

.add-tarefa {
  background-color: blue;
  color: white;
  font-size: 16px;  
  font-weight: bold;
  width: 15%; 
}

main {
  background-color: turquoise;
  margin-left: 0;
  padding: 12px;
  width: auto;
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 15px 8px;
  width: 70%;
}